#include <dt-bindings/zmk/mouse.h>
#include <mouse-gesture.dtsi>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
    delay-ms = <0>;
    trigger-period-ms = <10>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <1>;
};

&msc {
    delay-ms = <0>;
    trigger-period-ms = <10>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

 / {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };

        zip_hwheel_scaler: zip_hwheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };
    };

    behaviors {
        mouse_mv: mouse_cursor_move {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;
            tap-ms = <10>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <10>;
        };

        lt_mkp: lt_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MKP";
            bindings = <&mo>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mod_mkp: mod_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_MKP";
            bindings = <&kp>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Layer0 {
            bindings = <
                &lt_mkp 11 MB3   &mkp MB2   &mkp MB1   &mo 8   &mo 9   &trans
            >;
        };

        Layer1 { bindings = < &trans &trans &trans &trans &trans &trans >; };
        Layer2 { bindings = < &trans &trans &trans &trans &trans &trans >; };
        Layer3 { bindings = < &trans &trans &trans &trans &trans &trans >; };
        Layer4 { bindings = < &trans &trans &trans &trans &trans &trans >; };
        Layer5 { bindings = < &trans &trans &trans &trans &trans &trans >; };
        Layer6 { bindings = < &trans &trans &trans &trans &trans &trans >; };
        Layer7 { bindings = < &trans &trans &trans &trans &trans &trans >; };

        btsel_layer {
            bindings = <
                &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &trans   &bt BT_SEL 3   &bt BT_SEL 4
            >;
        };

        btclr_layer {
            bindings = <
                &none &none &none   &bt BT_CLR   &none   &bt BT_CLR_ALL
            >;
        };

        scroll_layer {
            bindings = <
                &mkp MB3   &mkp MB4   &mkp MB5   &trans   &trans   &trans
            >;
        };

        gesture_layer {
            bindings = <
                &mouse_gesture   &trans   &trans   &trans   &trans   &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_layer10 {
            bindings = <&mo 10>;
            key-positions = <1 2>;
            timeout-ms = <50>;
        };
    };
};
