#include <dt-bindings/zmk/mouse.h>

// マウス移動とスクロールのデフォルト値
#define ZMK_POINTING_DEFAULT_MOVE_VAL 800
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// レイヤー定義
#define ORIENT_0    0
#define ORIENT_45   1
#define ORIENT_90   2
#define ORIENT_135  3
#define ORIENT_180  4
#define ORIENT_225  5
#define ORIENT_270  6
#define ORIENT_315  7
#define BTSEL       8
#define BTCLR       9
#define SCROLL      10
#define ORIENT_SEL  11

// マウス移動の設定
&mmv {
    delay-ms = <0>;
    trigger-period-ms = <10>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <1>;
};

// マウススクロールの設定
&msc {
    delay-ms = <0>;
    trigger-period-ms = <10>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

 / {
    behaviors {
        lt_mkp: lt_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MKP";
            bindings = <&mo>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mod_mkp: mod_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_MKP";
            bindings = <&kp>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        orientation0_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation45_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation90_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation135_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation180_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation225_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation270_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        orientation315_layer {
            bindings = <
                &lt_mkp SCROLL MB3  &mkp MB2  &mkp MB1  &mo BTSEL  &mo BTCLR  &mo ORIENT_SEL
            >;
        };

        btsel_layer {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &bt BT_SEL 3  &bt BT_SEL 4
            >;
        };

        btclr_layer {
            bindings = <
                &none  &none  &none  &bt BT_CLR  &none  &bt BT_CLR_ALL
            >;
        };

        scroll_layer {
            bindings = <
                &mkp MB3  &mkp MB4  &mkp MB5  &trans  &trans  &trans
            >;
        };

        orientation_layer {
            bindings = <
                &to ORIENT_90  &to ORIENT_180  &to ORIENT_270  &to ORIENT_0  &to ORIENT_225  &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_layer9 {
            bindings = <&mo SCROLL>;
            key-positions = <1 2>;
            timeout-ms = <50>;
        };
    };
};
